.App {
  text-align: center;
  position: relative;
}

.wrapper {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  user-select: none;
  cursor: pointer;
  outline: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
}

button:active {
  box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, 0.25);
}

.calc {
  width: 320px;
  height: 500px;
  position: relative;
  display: flex;

  flex-direction: column;
}

.calc-keypad {
  height: 400px;
  display: flex;
}

.digit-keys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.function-keys {
  display: flex;
}

.function-keys button {
  background-color: aqua;
}

#zero {
  width: 160px;
  text-align: left;
  padding-left: 32px;
}

.function-keys button,
.digit-keys button,
.operator-keys button {
  width: 80px;
  height: 80px;

  line-height: 80px;
  text-align: center;
  padding: 0px;

  border-top: 1px solid #777;
  border-right: 1px solid #777;
  font-size: 2em;

  background-color: #e0e0e7;
}

.left-keys {
  width: 240px;
}

.operator-keys button {
  border-right: 0;
  background-color: #fb9718;
}
.sum {
  color: white;
  height: 100px;
  display: flex;
  background-color: #1c191c;
  text-align: right;
  font-size: 3em;

  padding: 0 30px;
  right: 0;
  flex: 1;
}

.function-keys button {
  background-color: #c8c8cc;
}

.wrapper .calc {
  box-shadow: 0px 0px 20px 0px #aaa;
}
